html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background-color: black;
}

.dg {
  z-index: 5 !important;
}
#colorpicker {
  z-index: 2;
  visibility: hidden;
  position: fixed;
  background-color: rgba(238, 234, 242, 0.138);
  top: 0px;
  left: 0px;
}
@media (orientation: portrait) {
  #colorpicker {
    /* z-index: 2;
    visibility: hidden; 
    position: absolute;
    background-color: rgba(238, 234, 242, 0.138);
    width: 60px;
    height: 60px;
    top: -0px;
    left: -0px; 
    display: none;
    */
  } 
}

#c {
  width: 100%;
  height: 100%;
  display: block;
}

.webgl {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 15px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  font-family: 'Acme', sans-serif;
}

.navbar-brand {
  margin: 5px;
  color: #f9e6e6;
  text-decoration: none;
  font-weight: bold;
  margin-right: auto;
}

.show-instructions {
  position: absolute;
  bottom: 60px;
  right: 60px;
}

.bulb-icon {
  position: absolute;
  width: 30px;
  height: 30px;
}

.bulb-icon:hover {
  box-shadow: 0px 0px 12px rgba(255, 136, 0, 0.75);
  border: 2px solid rgb(247, 135, 30);
  border-radius: 50%;
}

.loading {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 100%;
  height: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
  background-color: rgb(237, 214, 161);
  z-index: 99 !important;
  padding-bottom: 200px;
}

.loading img{
  height: 60%;
  width: 30%;
}

@media (orientation: portrait) {
  .loading img{
    height: 40%;
    width: 100%;
  }
  .show-instructions{
    right: 50px;
  }
}

.hover-image {
  position: fixed;
  visibility: hidden;
  bottom: 60px;
  right: 50px;
  z-index: 10;
  width: 250px;
  height: 175px;
  border: #ef9b34 2px solid;
  border-radius: 20px;
}


.show-instructions:hover .hover-image {
  visibility: visible;
}


#turnOnBtn {
  border-radius: 20px;
  background: #656757;
  color: #fff;
  box-shadow: 0 6px #050505;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  border: none;
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  outline: none;
  position: relative;
}

#turnOnBtn:hover {
	box-shadow: 0 4px #050505;
	top: 2px;
}

#turnOnBtn:active {
	box-shadow: 0 0 #050505;
	top: 6px;
}

.svg-shine--hide {
  visibility: hidden;
}
.svg-shine--show {
  visibility: visible;
  animation: blink 0.8s infinite;
}
@keyframes blink {
  100%,
  0% {
    fill: #fcf00000;
  }
  60% {
    fill: #fbee00;
  }
}

g rect {
  animation: blink 0.8s infinite step-end;
}

 .svg-path--infinite{
  stroke-dasharray: 290;
  stroke-dashoffset: 290;
  animation: dash 2s linear infinite;
} 

.svg-path--forwards{
  stroke-dasharray: 290;
  stroke-dashoffset: 290;
  animation: dash 2s linear ;
} 

@keyframes dash {
  from {
    stroke-dashoffset: 290;
  }
  to {
    stroke-dashoffset: 0;
  }
}

/* .dg {
 visibility: hidden;
} */
#click-me {
  color: #232321;
  font-size: 1em;
  font-weight: bold;
}

#svg-click {
  height: 1.2em;
  margin-left: 15px;
}

.click-hide {
visibility: hidden;
}
.click-show {
  visibility: visible;
  animation: fadeIn 3s ease-in infinite;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -200%, 0);
	}
	to {
		opacity: 0.5;
		transform: translate3d(0, 0, 0);
	}
}

.loading-brand {
  position: absolute;
  font-family: 'Acme', sans-serif;
  top: 0px;
  left: 0px;
  color: #3d3d2a;
  text-decoration: none;
  font-weight: bold;
  align-self: start;
  margin: 20px;
}